.btn{
  background-color: rgb(242, 148, 86);
  border: none;
  &:focus{
    background-color: rgb(230, 123, 52);
  }
  &:hover{
    background-color: rgb(230, 123, 52);
  }
} 

.link{
  text-decoration: none;
  color: rgb(242, 148, 86);
  &:hover{
    color:rgb(230, 123, 52);
    text-decoration: underline;
  }
}

.back-link{
  text-decoration: none;
  color: gray;
  
  &:hover {
    color: black;
    text-decoration: underline;
  }
}

.add-to-cart {
  color: #333;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 6px;
  &:hover{
    color: #1d1b1b;
  }
}
